:root {
	--color-primary-100: #ffffff;
	--color-primary-200: #d4e4fd;
	--color-primary-300: #a8c9fa;
	--color-primary-400: #74aff7;
	--color-primary-500: #2196f3;
	--color-primary-600: #266eb0;
	--color-primary-700: #224972;
	--color-primary-800: #182739;
	--color-primary-900: #000000;
}
