:root {
	/** CSS PRIMARY COLORS */
	--color-primary-100: #ffffff;
	--color-primary-200: #dfedcd;
	--color-primary-300: #bfdc9b;
	--color-primary-400: #9dca69;
	--color-primary-500: #79b832;
	--color-primary-600: #5a8729;
	--color-primary-700: #3d5820;
	--color-primary-800: #222e15;
	--color-primary-900: #000000;
}
